<!DOCTYPE html>
<html ng-app="nameApp" ng-controller="nameCtrl">

  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="//use.typekit.net/fnk8stx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <title>Useful List</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <div class="page_wrapper">

    	<h1>Your Most Useful Stuff Ever!</h1>
      <h4>(No really, it's true.)</h4>

        <div class="addStuff">
          <input type="text" placeholder="Your super useful note goes here..." ng-model="newName" />

          <button ng-click="addName()">Add</button>
        </div>

        <div class="addedContent">

          <p ng-repeat="n in names">{{ n.name }}</p>

        </div>

    </div>

      <div class="">
        <p class="copyright">Made with &hearts; and intention by Lauren Pawell.</p>
      </div>

  </body>

</html>